@import url(./sekcje/contacts.css);
@import url(./sekcje/footer.css);
@import url(./sekcje/fruits.css);
@import url(./sekcje/header.css);
@import url(./sekcje/hero.css);
@import url(./sekcje/howitworks.css);

/* VARIABLES */
:root {
    --clr-red: #ae1332;
    --clr-green: #a4cb66;
    --clr-yellow: #f5ce13;
    --clr-black: #000000;
    --clr-white: #ffffff;

    --fnt-primary: "DM Sans", sans-serif;
}

/* RESET */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding-inline: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* MAIN STYLES */
body {
    font-family: var(--fnt-primary);
    background-color: var(--clr-red);
}

/* ------------------------------MOBILE */

.container {
    max-width: 335px;
    padding: 0 20px;
    margin: 0 auto;
}

.h1-mobile {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-white);
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

.h2-mobile {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-white);
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

.h3-all {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-white);
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

.p-all {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: var(--clr-white);
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

/* ------------------------------TABLET */

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .h1-tablet {
        font-size: 50px;
        line-height: 1.08;
    }

    .h2-tablet-desktop {
        font-size: 40px;
        line-height: 1.1;
    }
}

/* ------------------------------DESKTOP */

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 32px;
    }

    .h1-desktop {
        font-size: 64px;
        line-height: 1;
    }
}
