.contacts {
  padding-top: 80px;
}
.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.contacts__images-fruits {
  border-radius: 20px;
}
.contacts__li-berries {
  display: none;
}
.contacts__subscription {
  display: none;
}
.contacts__ul {
  top: -43px;
  list-style: none;
  position: relative;
  left: 0;
  z-index: -1;
}
.contact__paragraph-big {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-white);
  z-index: 2;
}
.contacts__modal {
  position: fixed;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 10%;
  width: 335px;
  height: 426px;
  z-index: 9999;
  margin-left: 3%;
  background-color: #e03f5e;
  border-radius: 20px;
}
.contacts__h3 {
  font-family: var(--fnt-primary);
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--clr-white);
  text-align: center;
  padding: 14px;
}
.contacts__paragraph-modal {
  font-family: var(--fnt-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--clr-white);
}
.contacts__raspberry {
  background-color: transparent;
  width: 207px;
  height: 176px;
  position: relative;
  margin-left: 64px;
  margin-top: 40px;
}
.contacts__text {
  width: 295px;
  margin-left: 20px;
  /* margin-right: 104px; */
  margin-bottom: 40px;
}

.contacts__modal-button {
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;
  margin-left: 552px;
  margin-top: 20px;
  position: absolute;
}
.contacts__modal-button-shlash {
  stroke-width: 2px;
  stroke: var(--clr-white);
  color: var(--clr-white);
}
.contacts__modal.is-open {
  opacity: 1;
  visibility: initial;
  pointer-events: all;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .contacts {
    padding-top: 144px;
  }
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .contact__paragraph-big {
    font-size: 54px;
    max-width: 648px;
  }
  .contacts__ul {
    display: flex;
    gap: 16px;
    top: -29px;
  }
  .contacts__li-berries {
    display: block;
  }
  .contacts__subscription {
    display: block;
    padding-top: 80px;
    max-width: 492px;
    margin: 0 auto;
  }
  .contacts__paragraph-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--clr-white);

    padding-bottom: 80px;
  }
  .contacts__label {
    position: relative;
  }
  input[type="email"]:invalid {
    border-color: red;
  }
  .contacts__button {
    font-family: var(--fnt-primary);
    width: 102px;
    height: 48px;
    border: none;
    border-radius: 100px;
    background-color: var(--clr-green);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    color: var(--clr-white);
    position: absolute;
    margin-top: 0;
    margin-left: -202px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    transition-property: all;
  }
  .contacts__button:hover:focus {
    background-color: #45a049;
  }
  .contacts__images-fruits {
    border-radius: 21px;
    width: 344px;
  }
  .contacts__form-input {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    border-radius: 100px;
    width: 292px;
    height: 48px;
    opacity: 0.3;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    color: var(--clr-white);
  }

  .contacts__modal {
    position: fixed;
    top: 10%;
    width: 600px;
    height: 545px;
    z-index: 9999;
    margin-left: 10%;
    background-color: #e03f5e;
    border-radius: 20px;
  }
  .contacts__h3 {
    font-family: var(--fnt-primary);
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--clr-white);
    text-align: center;
  }
  .contacts__paragraph-modal {
    font-family: var(--fnt-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--clr-white);
  }
  .contacts__raspberry {
    background-color: transparent;
  }
  .contacts__text {
    width: 391px;
    height: 130px;
    margin-left: 105px;
    margin-right: 104px;
    margin-bottom: 80px;
  }
  .contacts__raspberry {
    margin-left: 161px;
    margin-top: 68px;
    position: relative;
  }
  .contacts__modal-button {
    background-color: transparent;
    width: 28px;
    height: 28px;
    border: none;
    margin-left: 552px;
    margin-top: 20px;
    position: absolute;
  }
  .contacts__modal-button-shlash {
    stroke-width: 2px;
    stroke: var(--clr-white);
    color: var(--clr-white);
  }
  .contacts__modal.is-open {
    opacity: 1;
    visibility: initial;
    pointer-events: all;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    display: block;
    background-color: var(--clr-red);
    width: 1280px;
    position: relative;
  }
  .contacts__images {
    margin-left: 32px;
    margin-right: 32px;
    text-align: center;
  }
  .contact__paragraph-big {
    font-family: var(--fnt-primary);
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    left: 238px;
    right: 238px;
    color: var(--clr-white);
    max-width: 740px;
    max-height: 128px;
    margin: 0 auto;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
  }
  .contacts__ul {
    display: flex;
    list-style: none;
    padding-inline: 0;
    gap: 24px;
    position: relative;
    z-index: 1;
    padding-top: 80px;
  }
  .contacts__li-melon {
    width: 792px;
  }
  .contacts__subscription {
    padding-top: 80px;
    padding-bottom: 150px;
    position: relative;
  }
  .contacts__paragraph-small {
    font-family: var(--fnt-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--clr-white);
    max-width: 492px;
    margin: 0 auto;
    padding-bottom: 80px;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  }
  .contacts__form {
    text-align: center;
  }
  .contacts__label {
    position: relative;
    padding-left: 70px;
    padding-top: 134px;
    padding-right: 100px;
  }
  input[type="email"]:invalid {
    border-color: red;
  }
  .contacts__button {
    font-family: var(--fnt-primary);
    width: 102px;
    height: 48px;
    border: none;
    border-radius: 100px;
    background-color: var(--clr-green);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    color: var(--clr-white);
    position: absolute;
    margin-top: 80px;
    margin-left: -202px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    transition-property: all;
  }
  .contacts__button:hover:focus {
    background-color: #45a049;
  }
  .contacts__images-fruits {
    border-radius: 21px;
  }

  .contacts__form-input {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    border-radius: 100px;
    width: 292px;
    height: 48px;
    opacity: 0.3;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    color: var(--clr-white);
    margin-top: 80px;
  }
  .contacts__form-input:placeholder {
  }
  .contacts__modal {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 600px;
    height: 545px;
    z-index: 9999;
    margin: 0px;
    background-color: #e03f5e;
    border-radius: 20px;
  }
  .contacts__h3 {
    font-family: var(--fnt-primary);
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--clr-white);
    text-align: center;
  }
  .contacts__paragraph-modal {
    font-family: var(--fnt-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--clr-white);
  }
  .contacts__raspberry {
    background-color: transparent;
  }
  .contacts__text {
    width: 391px;
    height: 130px;
    margin-left: 105px;
    margin-right: 104px;
    margin-bottom: 80px;
  }
  .contacts__raspberry {
    margin-left: 161px;
    margin-top: 68px;
    position: relative;
  }
  .contacts__modal-button {
    background-color: transparent;
    width: 28px;
    height: 28px;
    border: none;
    margin-left: 552px;
    margin-top: 20px;
    position: absolute;
  }
  .contacts__modal__button__shlash {
    stroke-width: 2px;
    stroke: var(--clr-white);
    color: var(--clr-white);
  }
  .contacts__modal.is-open {
    opacity: 1;
    visibility: initial;
    pointer-events: all;
  }
}
.is-open {
  display: none;
}
