.contacts {
    padding-top: 80px;
    padding-bottom: 42px;
}

.contacts__heading {
    font-family: var(--fnt-primary);
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-white);
}

.contacts__img-list {
    position: relative;
    top: -43px;
    left: 0;
    z-index: -1;
}

.contacts__melon-img {
    border-radius: 20px;
}

.contacts__berry-img {
    border-radius: 20px;
}

.contacts__berry-list-item {
    display: none;
}

.contacts__newsletter-container {
    display: none;
}

.modal-thanks {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 335px;
    transform: translate(-50%, -50%);
    background-color: #e03f5e;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-thanks.is-open {
    opacity: 1;
    visibility: initial;
    pointer-events: all;
}

.modal-thanks__close-btn {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-thanks__close-btn-icon {
    fill: white;
}

.modal-thanks__header {
    font-family: var(--fnt-primary);
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--clr-white);
    text-align: center;
    margin-bottom: 14px;
}

.modal-thanks__paragraph {
    font-family: var(--fnt-primary);
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--clr-white);
}

@media (768px <= width < 1280px) {
    .contacts {
        padding-top: 144px;
        padding-bottom: 144px;
    }

    .contacts__heading {
        font-size: 54px;
    }

    .contacts__img-list {
        display: flex;
        gap: 16px;
        top: -29px;
        margin-bottom: 80px;
    }

    .contacts__berry-list-item {
        display: block;
    }

    .contacts__newsletter-container {
        display: block;
        max-width: 492px;
        margin: 0 auto;
    }

    .contacts__newsletter-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.03em;
        text-align: center;
        color: var(--clr-white);
        margin-bottom: 80px;
    }

    .contacts__text {
        width: 391px;
        margin: 0px 104px 80px 105px;
    }

    .contacts__form-label {
        position: relative;
    }

    .contacts__form-input {
        background-color: transparent;
        border: 1px solid var(--clr-white);
        border-radius: 100px;
        width: 292px;
        height: 48px;
        opacity: 0.3;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        color: var(--clr-white);
        margin-left: 100px;
    }

    .contacts__form-btn {
        width: 102px;
        height: 48px;
        border: none;
        border-radius: 100px;
        background-color: var(--clr-green);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        color: var(--clr-white);
        position: absolute;
        margin: 0 auto;
        margin-left: -103px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        transition-property: all;
    }

    .contacts__form-btn:hover,
    .contacts__form-btn:focus {
        background-color: #45a049;
    }

    input[type="email"]:invalid {
        border-color: red;
    }

    .modal-thanks {
        width: 600px;
        height: 545px;
        padding: 68px 105px 80px;
        gap: 28px;
    }

    .modal-thanks__close-btn {
        width: 28px;
        height: 28px;
    }

    .modal-thanks__close-btn-icon {
        width: 28px;
        height: 28px;
    }

    .modal-thanks__header {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0.02em;
    }
}

@media (width >= 1280px) {
    .contacts {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .contacts__heading {
        font-size: 64px;
        max-width: 740px;
        margin: 0 auto;
    }

    .contacts__img-list {
        display: flex;
        gap: 24px;
        top: -38px;
        margin-bottom: 42px;
    }

    .contacts__melon-list-item {
        width: 792px;
    }

    .contacts__berry-list-item {
        display: block;
    }

    .contacts__newsletter-container {
        display: block;
        max-width: 556px;
        margin: 0 auto;
    }

    .contacts__newsletter-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--clr-white);
    }

    .contacts__form {
        text-align: center;
    }

    .contacts__form-label {
        position: relative;
    }

    .contacts__form-input {
        background-color: transparent;
        border: 1px solid var(--clr-white);
        border-radius: 100px;
        width: 292px;
        height: 48px;
        opacity: 0.3;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        color: var(--clr-white);
        margin-top: 80px;
    }

    .contacts__form-btn {
        width: 102px;
        height: 48px;
        border: none;
        border-radius: 100px;
        background-color: var(--clr-green);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        color: var(--clr-white);
        position: absolute;
        margin-top: 80px;
        margin-left: -103px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        transition-property: all;
    }

    .contacts__form-btn:hover:focus {
        background-color: #45a049;
    }

    .contacts__images {
        margin-left: 32px;
        margin-right: 32px;
        text-align: center;
    }

    input[type="email"]:invalid {
        border-color: red;
    }

    .modal-thanks {
        width: 600px;
        height: 545px;
        padding: 68px 105px 80px;
        gap: 28px;
    }

    .modal-thanks__close-btn {
        width: 28px;
        height: 28px;
    }

    .modal-thanks__close-btn-icon {
        width: 28px;
        height: 28px;
    }

    .modal-thanks__header {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0.02em;
    }
}
