/* ------------------------------MOBILE */
.hero {
    padding-top: 56px;
}

.hero .container {
    position: relative;
}

.hero__heading {
    font-family: var(--fnt-primary);
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-white);
}

.hero__foto-strawberry {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero__foto-banana {
    position: absolute;
    top: 60px;
    left: 0;
    transform: rotate(10deg);
    z-index: -1;
}

.hero__foto {
    position: relative;
    top: -58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    margin-bottom: 26px;
}

.hero__foto-girl {
    border-radius: 250px 250px 250px 250px;
    outline: 1px solid var(--clr-white);
    outline-offset: 20px;
}

.hero__button-shop-now {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--clr-red);
    transform: rotate(-14deg);
}

.hero__text-heading {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    max-width: 279px;
}

.hero__green-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-bottom: 44px;
}

.hero__yellow-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.hero__card {
    border: none;
    width: 249px;
    height: 387px;
    border-radius: 500px;
    padding: 28px 24px 40px;
}

.hero__card-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--clr-white);
    margin-bottom: 40px;
}

.hero__card-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-white);
}

.hero__pills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
}

.hero__pills {
    border: 1px solid var(--clr-white);
    display: inline-block;
    border-radius: 1000px;
    padding: 12px 32px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-white);
}

.hero__pills-mobile {
    width: 132px;
    height: 38px;
}

.hero__text-fruit-card {
    margin: 0 auto;
}

/* ------------------------------TABLET */

@media (1280px > width >= 768px) {
    .hero {
        padding-top: 64px;
    }

    .hero__heading {
        font-size: 50px;
        line-height: 1.08;
    }

    .hero__foto-strawberry {
        top: -9px;
        right: 5px;
    }

    .hero__foto-banana {
        top: 110px;
    }

    .hero__foto {
        top: -110px;
        margin-bottom: -31px;
    }

    .hero__button-shop-now {
        width: 114px;
        height: 114px;
        font-size: 28px;
    }

    .hero__text-heading {
        margin: 0;
    }

    .hero__cards-container {
        display: flex;
        gap: 142px;
    }

    .hero__green-card-container {
        width: 279px;
    }

    .hero__yellow-card-container {
        flex-direction: column-reverse;
        width: 279px;
    }

    .hero__card.green {
        align-self: flex-end;
    }

    .hero__card.yellow {
        align-self: flex-start;
    }

    .hero__pills-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-end;
        max-width: 300px;
        margin-right: 0;
    }
}

/* ------------------------------DESKTOP */

@media (min-width: 1280px) {
    .hero {
        padding-top: 64px;
    }

    .hero__heading {
        font-size: 64px;
        letter-spacing: -0.04em;
        max-width: 898px;
        margin: 0 auto;
    }

    .hero__foto-strawberry {
        top: -25px;
        right: 223px;
    }

    .hero__foto-banana {
        top: 135px;
        left: 220px;
    }

    .hero__foto {
        top: -140px;
        margin-bottom: 0;
    }

    .hero__button-shop-now {
        width: 114px;
        height: 114px;
        font-size: 28px;
    }

    .hero__text-heading {
        max-width: 222px;
        margin: 0;
    }

    .hero__green-card-container {
        position: absolute;
        top: 346px;
        left: 62px;
    }

    .hero__yellow-card-container {
        flex-direction: column-reverse;
        position: absolute;
        top: 272px;
        right: 62px;
    }
}
