.container.hero {
  width: 1280px;
  margin: 0 auto;
}

.hero__heading {
  font-family: var(--fnt-primary);
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-white);
}

.hero__heading {
  position: absolute;
  /* display: flex;
  width: 898px; */
  top: 64px;
  z-index: 2;
  margin: 0 auto;
}

.hero__foto-strawberry {
  width: 100%;
  position: relative;
  padding-left: 937px;
  padding-top: 39px;
}

.hero__text {
  font-family: var(--fnt-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: var(--clr-white);
}

.hero__text-heading {
  color: var(--clr-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  box-shadow: 0px 4px 70px 0px #0000001a;
  max-width: 222px;
}

.hero__foto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__foto-girl {
  position: relative;
  width: 452px;
  border-radius: 250px 250px 250px 250px;
  border: none;
  outline: 1px solid var(--clr-white);
  outline-offset: 20px;
}

.hero__button-shop-now {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border: none;
  display: block;
  cursor: pointer;
  position: relative;
  top: -80px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--clr-red);
  transform: rotate(-14deg);
}

.hero__card-set {
  display: flex;
}

.hero__card {
  border: none;
  width: 249px;
  height: 387px;
  border-radius: 500px;
  padding: 28px;
  position: absolute;
}

.yellow {
  background-color: var(--clr-yellow);
}

.green {
  background-color: var(--clr-green);
}

.hero__card-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--clr-white);
}

.hero__card-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-white);
}

.hero__pills {
  border: 1px solid var(--clr-white);
  display: inline-block;
  border-radius: 1000px;
  padding: 12px 32px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-white);
}

.hero__pills-mobile {
  width: 132px;
  height: 38px;
}

@media (min-width: 375px) {
  .hero__card-set {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero__card.green {
    position: static;
  }

  .hero__card.yellow {
    position: static;
  }

  .hero__pills-set-mobileonly {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 10px;
    max-width: 300px;
  }

  .hero__pills-set {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero__card.green {
    position: absolute;
    top: 1038px;
    left: 62px;
  }

  .hero__card.yellow {
    position: absolute;
    top: 903px;
    right: 62px;
  }

  .hero__foto-strawberry {
    width: 100%;
    position: relative;
    padding-left: 623px;
  }

  .hero__foto-banana {
    /* width: 100%; */
    position: absolute;
    padding-top: 100px;
    padding-left: 27px;
    transform: rotate(10deg);
  }

  .hero__pills-set-mobileonly {
    display: none;
  }

  .hero__pills-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 300px;
    margin-right: 0;
  }
}

@media (min-width: 1028px) {
  .hero__card.green {
    top: 560px;
    left: 62px;
  }

  .hero__card.yellow {
    top: 336px;
    right: 62px;
  }

  .hero__pills-set-mobileonly {
    display: none;
  }
  .hero__foto-strawberry {
    padding-left: 937px;
  }

  .hero__foto-banana {
    padding-left: 200px;
  }
}
