/* ------------------------------MOBILE */

.how-it-works {
  padding-top: 80px;
}

.how-it-works__part {
  margin: 0 auto;
}

.how-it-works__title {
  margin-bottom: 14px;
}
.how-it-works__text {
  text-align: center;
  margin-bottom: 44px;
}

.how-it-works__fieldset-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.how-it-works__field {
  width: 335px;
  height: 112px;
  border-radius: 20px;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 14px;
}

.how-it-works__steps-btn {
  min-width: 136px;
  height: 48px;
  border-radius: 200px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: var(--clr-white);
  display: block;
  cursor: pointer;
}

.red {
  background-color: var(--clr-red);
}

.green {
  background-color: var(--clr-green);
}

.yellow {
  background-color: var(--clr-yellow);
}

.how-it-works__description.p-all {
  color: var(--clr-black);
}

.how-it-works__gif-animation {
  margin: 0 auto;
  margin-top: 44px;
  border-radius: 20px;
  width: 335px;
  height: 476px;
  object-fit: cover;
}

/* ------------------------------TABLET */

@media (min-width: 768px) {
  .how-it-works__text {
    max-width: 509px;
    margin: 0 auto;
    margin-bottom: 44px;
  }

  .how-it-works__field {
    width: 389px;
    height: 128px;
  }

  .how-it-works__gif-animation {
    margin: 0 auto;
    margin-top: 80px;
    width: 704px;
    height: 476px;
  }
}

/* ------------------------------DESKTOP */

@media (min-width: 1280px) {
  .how-it-works__title {
    max-width: 624px;
    margin: 0 auto 14px auto;
  }
  .how-it-works__fieldset-list {
    flex-direction: row;
  }

  .how-it-works__gif-animation {
    width: 860px;
    height: 476px;
  }
}
