*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Okno modalne YOUR ORDER*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* MOBILE  */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal__your-order {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 335px;
    height: 903px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--clr-white);
    padding: 20px;
    border-radius: 20px;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 990;
}

.modal__title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__close-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    fill: var(--clr-red);
    stroke: var(--clr-red);
    stroke-width: 3px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.modal__close-btn:active,
.modal__close-btn:hover,
.modal__close-btn:focus {
    border: none;
    border-radius: 4px;
    fill: var(--clr-red);
    background: rgba(174, 19, 50, 0.1);
}

.modal__close {
    fill: blue;
}
.modal__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--clr-red);
}

.modal__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 40px;
}

.modal__picture {
    width: 295px;
    height: 119px;
    margin: 0 auto;
    padding-right: 32px;
}

.modal__basket {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
}

.modal__input-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    top: 14px;
    left: 85%;
    background-color: transparent;
    fill: var(--clr-white);
    border: 1.5px solid var(--clr-white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.check {
    cursor: pointer;
}

.check:checked + .field-descr span {
    fill: transparent;
}

.modal__temporary-absolute {
    position: absolute;
    left: 200px;
}

.input-checkbox {
    position: relative;
    top: 14px;
    left: 223px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    fill: var(--clr-white);
    border: 1.5px solid var(--clr-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__basket-fruit-type {
    font-weight: 700;
    color: var(--clr-white);
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.04em;
    padding: 20px 5px 2px 20px;
}

.modal__plant {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: var(--clr-white);
    padding-left: 20px;
}

.modal__photo {
    display: block;
    margin: 0 auto;
}

.modal__button-send {
    font-family: inherit;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    background-color: var(--clr-green);
    padding: 12px 24px 12px 24px;
    width: 92px;
    height: 42px;
    display: block;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100px;
    margin-top: 6px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 14px;
}

.modal__form-cards-flow {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 26px;
}

.form-input-range:out-of-range {
    border: 10px solid red;
}

.input {
    gap: 14px;
    opacity: 30%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    border: 1px solid #000;
    border-radius: 100px;
    width: 295px;
    height: 46px;
}

.input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #000;
}

.input__comment {
    gap: 14px;
    opacity: 30%;
    border-radius: 20px;
    width: 360px;
    height: 145px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #000;
}

.comment__label {
    border: 1px solid #000;
    border-radius: 20px;
    width: 295px;
    height: 132px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
}

.form__label .form__comment {
    font-family: inherit;
    font-size: inherit;
    width: 400;
    line-height: 18px;
    letter-spacing: 0.04em;
    position: relative;
    margin: 15px auto 24px auto;
    opacity: 50;
}

.form__label-fruits {
    display: flex;
}

.input__container-fruits {
    border-radius: 20px;
    width: 295px;
    height: 119px;
}

.modal__forms-cards--peach {
    background-color: #f8766b;
}

.modal__forms-cards--citrus {
    background-color: #edd251;
}

.modal__forms-cards--mint {
    background-color: #9dc262;
}

/* ------------------------------TABLET */

@media (width >= 768px) {
    .modal__your-order {
        width: 704px;
        height: 853px;
        padding: 40px;
    }

    .modal__title {
        font-size: 40px;
        line-height: 1.1;
    }

    .modal__close-btn {
        width: 28px;
        height: 28px;
    }

    .modal__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .modal__check-btn {
        left: 166px;
    }

    .modal__picture {
        width: 200px;
        height: 250px;
        margin: 0;
    }

    .modal__plant {
        font-size: 14px;
        line-height: 18px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }

    .input {
        width: 360px;
        height: 48px;
    }

    .comment__label {
        width: 360px;
        height: 145px;
    }
    .modal__button-send {
        width: 114px;
        height: 48px;
    }

    .modal__form-cards-flow {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .input__container-fruits {
        width: 200px;
        height: 250px;
    }

    .form__label-fruits {
        display: flex;
        flex-direction: column;
    }

    .modal__background {
        background-image: url(/images/modalorder-girl-tablet.png);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .modal__background {
        background-image: url(/images/modalorder-girl-tablet@2x.png);
    }
}

/* ------------------------------DESKTOP */

@media (width >= 1280px) {
    .modal__your-order {
        width: 891px;
        height: 911px;
    }

    .modal__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .modal__check-btn {
        left: 223px;
    }

    .modal__picture {
        width: 257px;
        height: 308px;
    }

    .modal__form-cards-flow {
        gap: 20px;
    }

    .input__container-fruits {
        width: 257px;
        height: 308px;
    }

    .modal__basket-fruit-type {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16667;
        letter-spacing: -0.04em;
    }

    .modal__background {
        background-image: url(/images/modalorder-girl-tablet.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

@media (min-width: 1280px) and (min-resolution: 192dpi) {
    .modal__background {
        background-image: url(/images/modalorder-girl-desktop@2x.png);
    }
}
